.header {
  height: 6.55rem;
  box-shadow: 0 2px 4px 0 #395464;
  margin-bottom: 1rem;

  .wrap {
    position: relative;
    height: 100%;
    max-width: 2560px;
    margin: 0 auto;

    .logo {
      
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-left: 3rem; 
      

      img {
        display: block;
        width: 100%;
        margin: 0;
        max-height: 6.5rem; 
        
        
      }
    }
}
}