.header {
  height: 6.55rem;
  box-shadow: 0 2px 4px 0 #395464;
  background-color: black;

  .wrap {
    display: flex; // Use flexbox for better center alignment
    justify-content: center; // This will center the child elements (like your logo)
    align-items: center; // This will vertically center the child elements
    height: 100%;
    max-width: 2560px;
    margin: 0 auto;
  }

  .logo {
    img {
      display: block;
      max-width: 100%; // Ensure it's not larger than its parent
      max-height: 6.5rem; // Restrict the maximum height
      height: auto; // Maintain aspect ratio
    }
  }
}

// Media Queries for responsiveness
@media (max-width: 768px) {
  .header {
    height: auto; // Allow the header to shrink on smaller screens

    .wrap {
      padding: 1rem; // Add some padding on smaller screens
    }

    .logo {
      img {
        max-height: 4rem; // Make the logo smaller on mobile devices
      }
    }
  }
}

@media (max-width: 480px) {
  .header .wrap .logo img {
    max-height: 3.5rem; // Even smaller logo for very small devices
  }
}